@import '../../assets/sass/variables';

.containerForm {  
    position: absolute;
    top: 25%;
    left: 40%;
    min-width: $form-size;
    min-height: $form-size;
}

.titleForm {
    color: $white;
    background-color: $background-title-form;
}

.backgroundForm {
    background-color: $white;
}

.buttonAttachForm {
    border-radius: 50%;
    border-color: $border-button !important;
}

.buttonSendForm {
    border-radius: 25px;
    color: $white !important;
    border-color: $border-button !important;
    background-color: $button-send-normal !important;
}

.buttonSendForm:disabled {
    color: $button-send-font-disabled !important;
    background-color: $button-send-disabled !important;
}