@import '../../assets/sass/variables';

.containerForm {  
    position: absolute;
    top: 25%;
    left: 33%;
    width: $form-size;
    height: $form-size;
}

.titleForm {
    color: $white;
    background-color: $background-title-form;
}

.backgroundForm {
    background-color: $white;
}

.buttonAttachForm {
    border-radius: 50%;
    border-color: $border-button !important;
}

.buttonSendForm {
    border-radius: 25px;
    color: $white !important;
    border-color: $border-button !important;
    background-color: $button-send-normal !important;
}

.buttonSendForm:disabled {
    color: $button-send-font-disabled !important;
    background-color: $button-send-disabled !important;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: $white !important;
    border-radius: 50%;
    background-color: $button-send-font-disabled;
}

.card:hover img {
    opacity: 0.3;
}
  
.card:hover .middle {
    opacity: 1;
}

.card {
    max-width: 100px;
    height: auto;
}

form .ng-invalid.ng-touched.ng-dirty {
    border: 1px solid $error;
}

.iconSuccess {
    color: $success;
}

.email {
    color: $button-send-normal;
}