/* Colors */
$body-background-color: #18c4ea;
$background-title-form: #094358;
$white: #FFFFFF;
$black: #000000;
$error: #dc3545;
$success: #28a745;
$border-button: #f0f0f0;
$button-send-disabled: #e1e1e1;
$button-send-font-disabled: #6c757d;
$button-send-normal: #00bff4;


/* Fonts */
$h1: 32px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 14px;
$font-family: 'Open Sans', arial, sans-serif;

/* Size */
$form-size: 500px;